<a [routerLink]="['/livros',livro.id]">
  <div class="place-info-box">
    <span class="place-info-box-icon"><img [src]="livro.imagePath" /></span>

    <div class="place-info-box-content">
      <span class="place-info-box-text"> {{livro.name}}</span>
      <span class="place-info-box-star"><i class="fa fa-star"></i> {{livro.rating}}</span>
      <span class="place-info-box-detail">{{livro.autor}}</span>
      <span class="place-info-box-detail">{{livro.category}}</span>
      <br />
      <span class="place-info-box-text">{{livro.price}}</span>
    </div>
    <!-- /.info-box-content -->
  </div>
</a>
